/* PANELS */
.home-card {
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(250, 250, 250);
    min-height: 100vh;
    border-bottom: 1px gray solid;
}

.profile-card {
    position: relative;
    background-color: rgb(235, 235, 235);
    border-bottom: 1px gray solid;
    min-height: 100vh;
}

.projects-card {
    position:relative;
    background-color: rgb(250, 250, 250);
    border-bottom: 1px gray solid;
    min-height: 100vh;
}

.skills-card {
    position:relative;
    background-color: rgb(235, 235, 235);
    text-align: center;
    border-bottom: 1px gray solid;
    min-height: 100vh;
}

/* TITLE CARD */
.name {
    text-align: left;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    font-size: 110px;
    color: rgb(50, 50, 50);
    margin-left: 280px;
    margin-bottom: 0px;
}

.title-bio {
    margin-left: 280px;
    margin-top: 0px;
}

/* PROFILE CARDS */
.profile-bio {
    color: black;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    text-indent: 3%;
}

.circle-img {
    height: 100%;
    width: 100%;
    padding: none;
    margin: none;
    border-radius: 50%;
    vertical-align: center;
    display: block;
    margin: 0 auto;
}

/* PROJECTS CARDS */
.project-img {
    height: 75%;
    width: 75%;
    padding-bottom: 10px;
    vertical-align: left;
    display: block;
    margin: 0 auto;
}

/* SKILLS CARDS */
.col-sm-3 {
    padding: 10px 15px;
}

.icon {
    height: 100px;
    vertical-align: center;
    display: block;
    margin: 0 auto;
}

.java-icon {
    width: 75px;
}

.python-icon {
    width: 100px;
}

.html-icon {
    width: 100px;
}

.css-icon {
    width: 72px;
}

.js-icon {
    width: 72px;
}

.node-icon {
    width: 91px;
}

.bootstrap-icon {
    height: 100px;
    width: 100px;
}

.office-icon {
    height: 100px;
    width: 100px;
}

.google-icon {
    height: 90px;
    width: 90px;
}

.mac-icon {
    height: 90px;
    width: 90px;
}

.windows-icon {
    height: 90px;
    width: 90px;
}

.skill {
    text-align: center;
    color: black;
    font-family: 'Alegreya', serif;
    font-size: 20px;
}

.rating {
    font-size: 20px;
}

/* SIDENAV */
.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 165, 255);
    overflow-x: hidden;
    padding-top: 20px;
    line-height: 1.42857143;
    line-height: inherit;
}

.sidenav-links {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.sidenav a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(235, 235, 235);
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.sidenav a:hover{
    color: rgb(0, 82, 127);
    text-decoration: none;
}

/* MICSELLANEOUS */
.main {
    margin-left: 280px;
}

.title {
    text-align: left;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-top: 0px;
    color: rgb(50, 50, 50);
}

.home-card {
    margin-left: -280px;
}

.content-container {
    padding-left: 4%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.container-fluid {
    padding: 5% 5% 5% 5%;
}

.footer {
    font-family: 'Alegreya', serif;
    font-size: 15px;
    padding: 5px 15px;
    background-color: rgb(250, 250, 250);
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0px;
    }
}
