/* SIDE NAVIAGATION BAR */
.sidenav {
    display: block;
    height: 100%;
    width: 270px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 165, 255);
    overflow-x: hidden;
    padding-top: 20px;
    line-height: 1.42857143;
    line-height: inherit;
}

.sidenav-links {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.sidenav a {
    padding-top: 7px;
    padding-bottom: 7px;
    color: white;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.sidenav a:hover {
    color: rgb(50, 50, 50);
    text-decoration: none;
}

.circle-img {
    height: 70%;
    width: 70%;
    padding: none;
    border-radius: 50%;
    vertical-align: center;
    display: block;
    margin: 12px auto;
    border-style: solid;
    border-width: 6px;
    border-color: rgb(76, 192, 255);
}

.circle-img:hover {
    border-color: rgb(0, 132, 204);
}

/* TITLE PAGE */
.home-card {
    position: relative;
    min-height: 100vh;
}

.intro-content {
    margin-bottom: 35px;
}

.name {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    font-size: 115px;
    color: rgb(50, 50, 50);
    margin-top: 10px;
    margin-bottom: 0px;
}

.last-name {
    color: rgb(0, 165, 255);
}

.title-bio {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0;
    color: rgb(50, 50, 50);
    margin-top: 0px;
    margin-bottom: 10px;
}

.objective-content {
    margin-bottom: 35px;
}

.objective {
    text-align: left;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0;
    color: rgb(50, 50, 50);
    margin-top: 0px;
}

.fa-stack {
    margin-right: 10px;
}

.fa-circle {
    color: rgb(50, 50, 50) !important;
}

.media-link:hover i.fa-circle {
    color: rgb(0, 165, 255) !important;
}

/* ABOUT */
.about-card {
    position: relative;
    min-height: 100vh;
}

.bio {
    color: rgb(50, 50, 50);
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0;
}

/* EDUCATION */
.education-card {
    position: relative;
    min-height: 100vh;
}

/* EXPERIENCE */
.experience-card {
    position: relative;
    min-height: 100vh;
}

/* ACTIVITIES */
.activities-card {
    position: relative;
    min-height: 100vh;
}

/* PROJECTS */
.projects-card {
    position: relative;
    min-height: 100vh;
}

.project-items {
    height: 335px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin-bottom: 30px;
    position: relative;
}

.project-items li {
    display: inline-block;
    vertical-align: top;
}

.project {
    width: 300px;
    height: 202px;
    margin: 80px 20px 0;
    padding: 5px;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
    background-color: #2B2B2B;
    font-size: 14px;
    -webkit-transition: all .3s ease, opacity 2s ease, top 1s ease;
    -o-transition: all .3s ease, opacity 2s ease, top 1s ease;
    transition: all .3s ease, opacity 2s ease, top 1s ease
}

.view {
    overflow: hidden;
    width: 100%;
    height: 190px;
    position: relative;
}

.view img {
    -webkit-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
    width: 100%;
    margin: 0;
    position: absolute;
}

figcaption {
    height: 53px;
    width: 100%;
    padding: 10px 7px;
    bottom: 0;
    opacity: 0;
    overflow: hidden;
}

.github-circle {
    color: rgb(0, 165, 255) !important;
}

.project-link:hover i.fa-circle {
    color: rgb(0, 132, 204) !important;
}

.project-title {
    z-index: 1;
    width: 160px;
    height: 30px;
    color: white;
    font: 400 14px/30px 'PT Sans', sans-serif;
    text-align: center;
    border-radius: 1px;
    background-color: rgb(0, 165, 255);
    position: absolute;
    bottom: 30px;
    left: 15px;
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
    -o-transition: -o-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
    transition: -webkit-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
    transition: -ms-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
    transition: -o-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
    transition: transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92)
}

.project:hover {
    height: 260px;
    -webkit-transform: translateY(-68px);
    -ms-transform: translateY(-68px);
    -o-transform: translateY(-68px);
    transform: translateY(-68px)
}

.project:hover .project-title {
    -webkit-transform: translate3d(0, 61px, 0);
    -ms-transform: translate3d(0, 61px, 0);
    -o-transform: translate3d(0, 61px, 0);
    transform: translate3d(0, 61px, 0)
}

.project:hover figcaption {
    -webkit-animation: show .25s ease-in .120s forwards;
    -o-animation: show .25s ease-in .120s forwards;
    animation: show .25s ease-in .120s forwards;
}

@keyframes show {
    to {
        opacity: 1;
    }
}

/* SKILLS */
.skills-card {
    position: relative;
    min-height: 100vh;
}

.devicons {
    margin-top: 7px;
    margin-bottom: 38px;
}

.devicon {
    font-size: 47px;
    margin-right: 11px;
    margin-left: 10px;
    color: rgb(0, 165, 255);
}

/* AWARDS */
.awards-card {
    position: relative;
    min-height: 100vh;
}

/* GENERAL */
.row {
    margin-right: 0 !important;
}

.content-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding-right: 15px;
}

.divider {
    width: 100vw;
    border: 1px rgb(50, 50, 50) solid;
    margin-top: 0;
    margin-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.title {
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 600;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 40px;
}

.subtitle {
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 0;
}

.heading {
    margin-bottom: 6px;
}

.date {
    text-transform: capitalize;
    float: right;
    color: rgb(0, 165, 255);
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    padding-right: 15px;
}

.sub-subheading {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: rgb(0, 165, 255);
    margin-top: 0px;
    margin-bottom: 2px;
}

.bullet {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
}

.list {
    margin-bottom: 32px;
}

::selection {
    background: #ffb24f;
    text-shadow: none;
}

::-moz-selection {
    background: #ffb24f;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 0;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 165, 255);
    border-radius: 4px;
}

html {
    background-size: auto;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* RESIZING */
@media (min-width: 992px) {
    .col-md-9 {
        margin-left: 270px;
    }

    .content-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .divider {
        margin-left: -270px;
    }
}

@media (max-width: 650px) {
    .date {
        display: none;
    }
}

/* VERTICAL RESIZING */
@media (max-width: 414px) and (max-height: 896px) {
    .about-card {
        position: relative;
        min-height: 100vh;
    }

    .education-card {
        position: relative;
        min-height: 100vh;
    }

    .experience-card {
        position: relative;
        min-height: 100vh;
    }

    .activities-card {
        position: relative;
        min-height: 135vh;
    }

    .projects-card {
        position: relative;
        min-height: 100vh;
    }

    .skills-card {
        position: relative;
        min-height: 100vh;
    }

    .awards-card {
        position: relative;
        min-height: 100vh;
    }
}

@media (max-width: 375px) and (max-height: 812px) {
    .about-card {
        position: relative;
        min-height: 100vh;
    }

    .education-card {
        position: relative;
        min-height: 100vh;
    }

    .experience-card {
        position: relative;
        min-height: 100vh;
    }

    .activities-card {
        position: relative;
        min-height: 155vh;
    }

    .projects-card {
        position: relative;
        min-height: 100vh;
    }

    .skills-card {
        position: relative;
        min-height: 100vh;
    }

    .awards-card {
        position: relative;
        min-height: 100vh;
    }
}

@media (max-width: 414px) and (max-height: 736px) {
    .about-card {
        position: relative;
        min-height: 100vh;
    }

    .education-card {
        position: relative;
        min-height: 100vh;
    }

    .experience-card {
        position: relative;
        min-height: 100;
    }

    .activities-card {
        position: relative;
        min-height: 160vh;
    }

    .projects-card {
        position: relative;
        min-height: 100vh;
    }

    .skills-card {
        position: relative;
        min-height: 100vh;
    }

    .awards-card {
        position: relative;
        min-height: 100vh;
    }
}

@media (max-width: 375px) and (max-height: 667px) {
    .about-card {
        position: relative;
        min-height: 110vh;
    }

    .education-card {
        position: relative;
        min-height: 120vh;
    }

    .experience-card {
        position: relative;
        min-height: 110vh;
    }

    .activities-card {
        position: relative;
        min-height: 190vh;
    }

    .projects-card {
        position: relative;
        min-height: 100vh;
    }

    .skills-card {
        position: relative;
        min-height: 105vh;
    }

    .awards-card {
        position: relative;
        min-height: 100vh;
    }
}

@media (max-width: 360px) and (max-height: 740px) {
    .about-card {
        position: relative;
        min-height: 105vh;
    }

    .education-card {
        position: relative;
        min-height: 110vh;
    }

    .experience-card {
        position: relative;
        min-height: 100vh;
    }

    .activities-card {
        position: relative;
        min-height: 170vh;
    }

    .projects-card {
        position: relative;
        min-height: 100vh;
    }

    .skills-card {
        position: relative;
        min-height: 100vh;
    }

    .awards-card {
        position: relative;
        min-height: 100vh;
    }
}

/* HORIZONTAL RESIZING */
@media (max-width: 896px) and (max-height: 414px) {
    .about-card {
        position: relative;
        min-height: 110vh;
    }

    .education-card {
        position: relative;
        min-height: 130vh;
    }

    .experience-card {
        position: relative;
        min-height: 120vh;
    }

    .activities-card {
        position: relative;
        min-height: 215vh;
    }

    .projects-card {
        position: relative;
        min-height: 135vh;
    }

    .skills-card {
        position: relative;
        min-height: 150vh;
    }

    .awards-card {
        position: relative;
        min-height: 100vh;
    }
}

@media (max-width: 812px) and (max-height: 375px) {
    .about-card {
        position: relative;
        min-height: 125vh;
    }

    .education-card {
        position: relative;
        min-height: 155vh;
    }

    .experience-card {
        position: relative;
        min-height: 145vh;
    }

    .activities-card {
        position: relative;
        min-height: 250vh;
    }

    .projects-card {
        position: relative;
        min-height: 150vh;
    }

    .skills-card {
        position: relative;
        min-height: 170vh;
    }

    .awards-card {
        position: relative;
        min-height: 100vh;
    }
}

@media (max-width: 736px) and (max-height: 414px) {
    .about-card {
        position: relative;
        min-height: 110vh;
    }

    .education-card {
        position: relative;
        min-height: 135vh;
    }

    .experience-card {
        position: relative;
        min-height: 135vh;
    }

    .activities-card {
        position: relative;
        min-height: 230vh;
    }

    .projects-card {
        position: relative;
        min-height: 135vh;
    }

    .skills-card {
        position: relative;
        min-height: 150vh;
    }

    .awards-card {
        position: relative;
        min-height: 100vh;
    }
}

@media (max-width: 667px) and (max-height: 375px) {
    .about-card {
        position: relative;
        min-height: 130vh;
    }

    .education-card {
        position: relative;
        min-height: 155vh;
    }

    .experience-card {
        position: relative;
        min-height: 155vh;
    }

    .activities-card {
        position: relative;
        min-height: 255vh;
    }

    .projects-card {
        position: relative;
        min-height: 150vh;
    }

    .skills-card {
        position: relative;
        min-height: 170vh;
    }

    .awards-card {
        position: relative;
        min-height: 100vh;
    }
}

@media (max-width: 740px) and (max-height: 360px) {
    .about-card {
        position: relative;
        min-height: 125vh;
    }

    .education-card {
        position: relative;
        min-height: 160vh;
    }

    .experience-card {
        position: relative;
        min-height: 160vh;
    }

    .activities-card {
        position: relative;
        min-height: 265vh;
    }

    .projects-card {
        position: relative;
        min-height: 155vh;
    }

    .skills-card {
        position: relative;
        min-height: 175vh;
    }

    .awards-card {
        position: relative;
        min-height: 100vh;
    }
}
