.greeting-lg {
    padding: 35vh 0;
}

.greeting-sm {
    margin: 50px 0 0 0;
}

.image-lg {
    padding: 15vh 0;
}

.image-sm {
    padding: 15vh 0;
}

.headshot {
    float: left;
    width: 75%;
}

.text {
    text-align: left;
    font-family: Quicksand-VariableFont_wght, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: skyblue;
    margin: 0;
}
